h2 {
  height: 40px;
  color: white;
  background-color: #f95f62;
  padding-top: 6px;
  padding-left: 20px;
  margin-bottom: 20px;
}

header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

img {
  width: 180px;
  position: relative;
  left: -20px;
}

nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #6f7881;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
}
